* {
    margin: 0;
    padding: 0;
    
}

html {
    font-size: 16px;
}

body {
    font-family: 'Mali', cursive;
    font-size: 1.5em;
}

.random-background {
    display: flex;
    justify-content: flex-start;
}

.random-background_button {
    font-family: 'Mali', cursive;
    font-size: 1em;
    color: white;
    background: black;
    border: none;
    border-radius: 5px;
}

.play, .song, .file {
    display: flex;
    justify-content: center;
}

.play p {
    font-size: 9em;
    margin: 30px 0 10px 0;
}

.wave {
    background: yellow;
    margin-top: 100px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wave-up {
    display: flex;
    align-items: flex-end;
    height: 50%;
}

.wave-down {
    display: flex;
    align-items: flex-end;
    height: 50%;
    transform: rotateX(180deg);
}

.wave-bar_up {
    display: inline-block;
    background: black;
    width: 10px;
    margin: 0 5px 0 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.wave-bar_down {
    display: inline-block;
    background: black;
    width: 10px;
    margin: 0 5px 0 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}